
@if (monthIncome !== 0 && monthExpense !== 0 && monthNetCashflow !== 0) {
    <p-card class="">
        <div class="mb-2 ml-4 font-base underline">Month Cash Flow Summary</div>
        <main class="flex flex-no-wrap flex-row justify-content-between align-items-center text-base h-3rem px-4"
        [ngStyle]="{'min-width': '25rem'}"
        >
            <div class="flex flex-no-wrap flex-column justify-content-between align-items-center h-full">
                <div>
                    {{ monthIncome | currency: 'USD'}}
                </div>
                <div class="text-700 text-green-300">
                    Income
                </div>
            </div>
        
            <div class="mx-3 text-2xl font-light">
                -
            </div>
        
            <div class="flex flex-no-wrap flex-column justify-content-between align-items-center h-full">
                <div>
                    {{ monthExpense | currency: 'USD'}}
                </div>
                <div class="text-700 text-red-300">
                    Expense
                </div>
            </div>
        
            <div class="mx-3 text-2xl font-light">
                =
            </div>
        
            <div class="flex flex-no-wrap flex-column justify-content-between align-items-center h-full">
                <div [ngClass]="monthNetCashflow < 0 ? 'text-red-400' : 'text-green-400' ">
                    {{ monthNetCashflow | currency: 'USD'}}
                </div>
                @if (monthNetCashflow > 0) {
                    <div class="text-700 text-green-300">
                        Cash Flow
                    </div>
                }
                @else {
                    <div class="text-700 text-red-300">
                        Cash Flow
                    </div>
                }

            </div>
        </main>
    </p-card>
}