<main class="flex flex-no-wrap flex-row justify-content-center align-items-center">
    <div class="bg-blue-100 flex flex-no-wrap flex-column justify-content-center align-items-center">
        <div>
            {{ monthAssets | currency: 'USD'}}
        </div>
        <div>
            Assets
        </div>
    </div>

    <div>
        -
    </div>

    <div class="bg-blue-100 flex flex-no-wrap flex-column justify-content-center align-items-center">
        <div>
            {{ monthLiabilities | currency: 'USD'}}
        </div>
        <div>
            Liabilities
        </div>
    </div>

    <div>
        =
    </div>

    <div class="bg-blue-100 flex flex-no-wrap flex-column justify-content-center align-items-center">
        <div [ngClass]="monthNetWorth < 0 ? 'text-red-400' : 'text-green-400' ">
            {{ monthNetWorth | currency: 'USD'}}
        </div>
        <div>
            Net Worth
        </div>
    </div>
</main>