@use '../../../styles/variables.scss' as vars;

.icon-hover {
    transition: 100ms ease-in;
    padding: 0.5rem;
    border-radius: 100rem;
    cursor: pointer;
} 

.icon-hover:hover {
    transition: 100ms ease-in;
    background-color: vars.$biscay-green;
} 