<p-card header="New Investment" subheader="Enter new investment transaction" [style]="{'padding': '1rem', 'min-width': '29.5rem', 'max-width': '34rem', 'width': '40vw' }"
pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" animation-duration-300
>
    <main
    class="w-full bg-white flex flex-column justify-content-center align-items-start"
    [ngStyle]="{'min-height': '5rem'}"
    pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" animation-duration-300
    >
            <form action="" [formGroup]="newInvestForm" (ngSubmit)="onSubmit()" class="max-w-30rem">

                <div class="max-w-30rem">
                        <app-chip-select 
                            [chipStrings]="investChipStrings" [chipObjects]="investChips" kind="invest_institution" 
                            (selectedChip)="handleInvestChipSelect($event)"
                        ></app-chip-select>
                </div>

                <div class="mt-4">
                    <span class="p-float-label">
                        <input 
                            pInputText
                            id="institution"
                            formControlName="institution"
                            [style]="{'min-width':'100%'}"
                        />
                    <label htmlFor="institution">Institution</label>
                    </span>
                </div>

                <div class="mt-4">
                    <span class="p-float-label">
                        <p-calendar
                            id="date"
                            [showIcon]="true"
                            formControlName="date"
                            [style]="{'min-width':'100%'}"
                        >
                        </p-calendar>
                        <label htmlFor="date">Date</label>
                    </span>
                </div>
            
                <!-- <div class="m-4">
                    <span class="p-float-label">
                        <input 
                            pInputText
                            id="note"
                            formControlName="note"
                            [style]="{'width':'20rem'}"
                        />
                    <label htmlFor="note">Note</label>
                    </span>
                </div> -->
            
                <div class="mt-4">
                    <span class="p-float-label">
                        <p-inputNumber 
                            id="amount"
                            formControlName="amount"
                            inputId="minmaxfraction"
                            mode="decimal"
                            [minFractionDigits]="2"
                            [maxFractionDigits]="2"
                            class="w-full" styleClass="w-full"
                        > </p-inputNumber>
                        <label htmlFor="amount">$ Amount</label>
                    </span>
                </div>

                <div class="my-4 my-1 text-right">
                    <button 
                        pButton
                        pRipple
                        type="reset"
                        (click)="clearForm()"
                        class="px-4 mr-2"
                    >Clear</button>
                    <button 
                        class="ml-4"
                        pButton
                        pRipple
                        type="submit"
                        [disabled]="!newInvestForm.valid"
                        class="px-4"
                    >Submit</button>
                </div>

            </form>
    </main>
</p-card>

<!-- <p>Form Status: {{ newInvestForm.status }}</p>
<p>{{ newInvestForm.value | json}}</p> -->