<main class="w-full flex flex-row flex-wrap justify-content-center align-items-center">
    @if (assets) {
        <section class="m-4">
            <app-balance-sheet-table tableTitle="Assets" [tableData]="assets"></app-balance-sheet-table>
        </section>
      } @else {
        No assets posted
      }
      @if (liabilities) {
        <section class="m-4">
            <app-balance-sheet-table tableTitle="Liablities" [tableData]="liabilities"></app-balance-sheet-table>
        </section>
      } @else {
        No liabilities posted
      }
</main>

<app-new-bs-record></app-new-bs-record>