<main class="w-screen flex flex-row flex-wrap-reverse justify-content-evenly align-items-end pt-8"
    [ngStyle]="{'max-width': '140rem', 'background': 'linear-gradient(45deg, red, blue)'}"
>
   <section class="my-3">
       <app-new-bs-record></app-new-bs-record>
   </section>
    <section class="my-4">
        <app-balance-sheet-table></app-balance-sheet-table>
    </section>
</main>



<!-- 
<div 
class="w-screen flex flex-nowrap flex-column justify-content-center align-items-center"

pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" animation-duration-1000
>

    <app-balance-sheet></app-balance-sheet>
</div> -->

<!-- <div 
class="w-screen flex flex-nowrap flex-column justify-content-center a"

pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" animation-duration-1000
>
    <app-chart-one></app-chart-one>
    <app-balance-sheet></app-balance-sheet>
</div> -->