<main class="w-screen flex flex-column flex-no justify-content-start align-items-center pt-8"
[ngStyle]="{'max-width': '140rem', 'background': 'linear-gradient(165deg, mintcream, #9ce0c115, white)'}"
>
    <div>
        <app-month-net-asset-banner></app-month-net-asset-banner>
    </div>
    <div class="w-screen flex flex-row flex-wrap justify-content-evenly align-items-start pt-4">
        <section class="my-6">
            <app-new-bs-record></app-new-bs-record>
        </section>
         <section class="my-6">
            <app-balance-sheet-table></app-balance-sheet-table>
         </section>
    </div>
    
</main>