/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

body {
    margin: auto;
    background-color: lime;  // scroll overflow bg
    // off-white bg's  #f2f3f4 #f0f0f0 #fdfdfd #f5f5f5
    background-color: #fdfdfd;
}