<form action="" [formGroup]="newRecordForm" (ngSubmit)="onSubmit()">

    <label for="password">type: </label>
    <input id="type" type="text" formControlName="type">
    
    <label for="username">date: </label>
    <input id="date" type="date" formControlName="date">

    <label for="password">description: </label>
    <input id="description" type="text" formControlName="description">

    <label for="password">amount: </label>
    <input id="amount" type="text" formControlName="amount">

    <button type="reset" (click)="clearForm()">Clear</button>
    <button type="submit" [disabled]="!newRecordForm.valid">Submit</button>
</form>

<p>Form Status: {{ newRecordForm.status }}</p>
<p>{{ newRecordForm.value | json}}</p>