<p-card header="New Income" subheader="Enter new income transaction" [style]="{'padding': '1rem', 'min-width': '20rem', 'max-width': '34rem'}"
pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" animation-duration-1000
>
    <main
    class="w-full bg-white flex flex-column justify-content-center align-items-start"
    [ngStyle]="{'min-height': '5rem'}"
    >
            <form action="" [formGroup]="newIncomeForm" (ngSubmit)="onSubmit()" class="max-w-30rem">

                <div class="max-w-30rem">
                        <app-chip-select 
                            [chipStrings]="incomeSourceChipStrings" [chipObjects]="incomeSourceChips" kind="income_source" 
                            (selectedChip)="handleIncomeChipSelect($event)"
                        ></app-chip-select>
                </div>

                <div class="mt-4">
                    <span class="p-float-label">
                        <input 
                            pInputText
                            id="source"
                            formControlName="source"
                            [style]="{'min-width':'100%'}"
                        />
                    <label htmlFor="source">Source</label>
                    </span>
                </div>

                <div class="mt-4">
                    <span class="p-float-label">
                        <p-calendar
                            id="date"
                            [showIcon]="true"
                            formControlName="date"
                            [style]="{'min-width':'100%'}"
                        >
                        </p-calendar>
                        <label htmlFor="date">Date</label>
                    </span>
                </div>
            
                <div class="mt-4">
                    <span class="p-float-label">
                        <input 
                            pInputText
                            id="note"
                            formControlName="note"
                            [style]="{'min-width':'100%'}"
                        />
                    <label htmlFor="note">Note</label>
                    </span>
                </div>
            
                <div class="mt-4">
                    <span class="p-float-label">
                        <p-inputNumber 
                            id="amount"
                            formControlName="amount"
                            inputId="minmaxfraction"
                            mode="decimal"
                            [minFractionDigits]="2"
                            [maxFractionDigits]="2"
                            class="w-full" styleClass="w-full"
                        > </p-inputNumber>
                        <label htmlFor="amount">$ Amount</label>
                    </span>
                </div>

                <div class="my-4 text-right">
                    <button 
                        pButton
                        pRipple
                        type="reset"
                        (click)="clearForm()"
                        class="px-4 mr-2"
                    >Clear</button>
                    <button 
                        class="ml-4"
                        pButton
                        pRipple
                        type="submit"
                        [disabled]="!newIncomeForm.valid"
                        class="px-4"
                    >Submit</button>
                </div>

            </form>
    </main>
</p-card>

<p>Form Status: {{ newIncomeForm.status }}</p>
<p>{{ newIncomeForm.value | json}}</p>