@use '../../../styles/variables.scss' as vars;

:host {
    display: block;
    max-width: 100rem;
}

.icon-hover {
    transition: 100ms ease-in;
    padding: 0.5rem;
    border-radius: 100rem;
    cursor: pointer;
} 

.icon-hover:hover {
    transition: 100ms ease-in;
    background-color: vars.$biscay-green;
} 

:host ::ng-deep .p-inputnumber-input  {
    width: 5rem;
}

:host ::ng-deep .p-button-icon  {
    font-size: 0.8rem;
}

.cancel-icon-color {
    color: #555555;
}