color {
    color: rgba(255, 159, 64, 0.2);
    color:  rgba(75, 192, 192, 0.2);
    color: rgba(54, 162, 235, 0.2);
    // personally generated
    border-color: rgb(255, 159, 64);
    border-color: rgb(75, 192, 192);
    border-color: rgb(153, 102, 255);
    border-color: rgb(54, 162, 235);
    border-color: rgb(255, 64, 64);
    border-color: rgb(239, 255, 64);
    border-color: rgb(255, 64, 223);
    border-color: rgb(64, 239, 255);
    border-color: rgb(64, 255, 70);
    border-color: rgb(64, 93, 255);
    border-color: rgb(255, 153, 57);
    border-color: rgb(108, 108, 108);
    border-color: rgb(195, 255, 64);
    border-color: rgb(153, 58, 140);
    border-color: rgb(81, 157, 165);
    border-color: rgb(250, 113, 255);
    border-color: rgba(250, 113, 255, 0.2);
    // 0.2 opacity to hex == 33
    border-color: #fa71ff33;
    // hex full opaque colors
    border-color: #ff9f40;
    border-color: #4bc0c0;
    border-color: #9966ff;
    border-color: #36a2eb;
    border-color: #ff4040;
    border-color: #efff40;
    border-color: #ff40df;
    border-color: #40efff;
    border-color: #40ff46;
    border-color: #405dff;
    border-color: #ff9939;
    border-color: #6c6c6c;
    border-color: #c3ff40;
    border-color: #993a8c;
    border-color: #519da5;
    border-color: #ff71a0;
}