@if (monthAssets !== 0 && monthLiabilities !== 0 && monthNetWorth !== 0) {
    <p-card class="">
        <div class="mb-2 ml-4 font-base underline">Month Net Worth Summary</div>
        <main class="flex flex-no-wrap flex-row justify-content-between align-items-center text-base h-3rem px-4"
            [ngStyle]="{'min-width': '25rem'}"
        >
            <div class="flex flex-no-wrap flex-column justify-content-between align-items-center h-full">
                <div>
                    {{ monthAssets | currency: 'USD'}}
                </div>
                <div class="text-700 text-green-300">
                    Assets
                </div>
            </div>

            <div class="mx-3 text-2xl font-light">
                -
            </div>

            <div class="flex flex-no-wrap flex-column justify-content-between align-items-center h-full">
                <div>
                    {{ monthLiabilities | currency: 'USD'}}
                </div>
                <div class="text-700 text-red-300">
                    Liabilities
                </div>
            </div>

            <div class="mx-3 text-2xl font-light">
                =
            </div>

            <div class="flex flex-no-wrap flex-column justify-content-between align-items-center h-full">
                <div [ngClass]="monthNetWorth < 0 ? 'text-red-300' : 'text-green-300' ">
                    {{ monthNetWorth | currency: 'USD'}}
                </div>
                <div [ngClass]="monthNetWorth < 0 ? 'text-red-300 text-700' : 'text-green-300 text-700' ">
                    Net Worth
                </div>
                
            </div>
        </main>
    </p-card>
}