<main
class="w-full bg-white flex flex-column justify-content-center align-items-center"
[ngStyle]="{'min-height': '5rem'}"
pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" animation-duration-1000
>
    <h2 class="m-4 text-gray-800 text-start">New Expense</h2>
        <form action="" [formGroup]="newExpenseForm" (ngSubmit)="onSubmit()">

            <!-- <div class="m-4 w-20rem">
                <p-selectButton
                    [options]="transactionTypes"
                    formControlName="type"
                    optionLabel="type"
                    optionValue="type"
                    #type
                    (click)="handleIncomeExpenseSelectClick(type.value)"
                ></p-selectButton>
            </div> -->


            <div class="m-4 w-20rem">
                <app-chip-select kind="vendor" (selectedChip)="handleChipSelect($event)"></app-chip-select>
                <!-- @if (incomeExpenseChipToggle === 'expense') {
                    <app-chip-select [chips]="expenseVendorChipStrings" [chipObjects]="expenseVendorChips" kind="vendor" (selectedChip)="handleChipSelect($event)"></app-chip-select>
                }
                @if (incomeExpenseChipToggle === 'income') {
                    <app-chip-select [chips]="incomeChipStrings" [chipObjects]="incomeChips" kind="income" (selectedChip)="handleChipSelect($event)"></app-chip-select>
                } -->
            </div>


            <div class="m-4">
                <!-- @if (incomeExpenseChipToggle === 'expense') { -->
                    <span class="p-float-label">
                        <input 
                            pInputText
                            id="vendor"
                            formControlName="vendor"
                            [style]="{'width':'20rem'}"
                        />
                    <label htmlFor="vendor">Vendor</label>
                    </span>
                <!-- }
                @if (incomeExpenseChipToggle === 'income') {
                    <span class="p-float-label">
                        <input 
                            pInputText
                            id="vendor"
                            formControlName="vendor"
                            [style]="{'width':'20rem'}"
                        />
                    <label htmlFor="vendor">Payee</label>
                    </span>
                } -->
            </div>
            <!-- @if (incomeExpenseChipToggle === 'expense') { -->
                <div class="m-4 w-20rem">
                    <app-chip-select kind="category" (selectedChip)="handleChipSelect($event)"></app-chip-select>
                </div>

                <div class="m-4">
                    <span class="p-float-label">
                        <input 
                            pInputText
                            id="category"
                            formControlName="category"
                            [style]="{'width':'20rem'}"
                        />
                    <label htmlFor="category">Category</label>
                    </span>
                </div>
            <!-- } -->

            <div class="m-4">
                <span class="p-float-label">
                    <p-calendar
                        id="date"
                        [showIcon]="true"
                        formControlName="date"
                        [style]="{'width':'20rem'}"
                    >
                    </p-calendar>
                    <label htmlFor="date">Date</label>
                </span>
            </div>
        
            <div class="m-4">
                <span class="p-float-label">
                    <input 
                        pInputText
                        id="note"
                        formControlName="note"
                        [style]="{'width':'20rem'}"
                    />
                <label htmlFor="note">Note</label>
                </span>
            </div>
        
            <div class="m-4">
                <span class="p-float-label">
                    <p-inputNumber 
                        id="amount"
                        formControlName="amount"
                        inputId="minmaxfraction"
                        mode="decimal"
                        [minFractionDigits]="2"
                        [maxFractionDigits]="2"
                        [style]="{'width':'20rem'}"
                    > </p-inputNumber>
                    <label htmlFor="amount">$ Amount</label>
                </span>
            </div>

            <div class="mx-4 my-1 text-right">
                <button 
                    pButton
                    pRipple
                    type="reset"
                    (click)="clearForm()"
                    class="px-4 mr-2"
                >Clear</button>
                <button 
                    class="ml-4"
                    pButton
                    pRipple
                    type="submit"
                    [disabled]="!newExpenseForm.valid"
                    class="px-4"
                >Submit</button>
            </div>

        </form>
</main>

<p>Form Status: {{ newExpenseForm.status }}</p>
<p>{{ newExpenseForm.value | json}}</p>
