<main
class="w-full bg-white flex flex-column justify-content-center align-items-center fadein animation-duration-300"
[ngStyle]="{'min-height': '5rem', 'padding': '8rem 0rem 20rem 0rem', 'background': 'linear-gradient(165deg, white, white, white, mintcream, #9ce0c115, white)'}"
>

    <form action="" [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">

        <h2 class="m-4 text-gray-800 text-start">Password Reset</h2>

        <div class="m-4">
            <span class="p-float-label">
                <input 
                    pInputText
                    id="email"
                    formControlName="email"
                    [style]="{'width':'20rem'}"
                    [autofocus]="true"
                />
            <label htmlFor="email">Email</label>
            </span>
        </div>

        <div class="mx-4 my-1 text-right">
            <button 
                pButton
                pRipple
                type="reset"
                (click)="clearForm()"
                class="px-4 mr-2"
            >Clear</button>
            <button 
                class="ml-4"
                pButton
                pRipple
                type="submit"
                [disabled]="!passwordResetForm.valid"
                class="px-4"
            >Submit</button>
        </div>
    </form>

</main>