<p-toast position="top-center"></p-toast>

<main
class="w-full bg-white flex flex-column justify-content-center align-items-center
fadein animation-duration-300"
[ngStyle]="{'min-height': '5rem', 'padding': '8rem 0rem 20rem 0rem'}"
>

    <form action="" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <h2 class="m-4 text-gray-800 text-start">Login</h2>

        <div class="m-4">
            <span class="p-float-label">
                <input 
                    pInputText
                    id="username"
                    formControlName="username"
                    [style]="{'width':'20rem'}"
                    [autofocus]="true"
                />
            <label htmlFor="username">Username</label>
            </span>
        </div>

        <div class="m-4">
            <span class="p-float-label">
                <input 
                    pInputText
                    id="password"
                    formControlName="password"
                    [style]="{'width':'20rem'}"
                />
            <label htmlFor="password">Password</label>
            </span>
        </div>

        <div class="mx-4 my-1 text-right">
            <button 
                pButton
                pRipple
                type="reset"
                (click)="clearForm()"
                class="px-4 mr-2"
            >Clear</button>
            <button 
                class="ml-4"
                pButton
                pRipple
                type="submit"
                [disabled]="!loginForm.valid"
                class="px-4"
            >Submit</button>
        </div>
    </form>
    <div class="mt-5 text-right"
    [style]="{'width':'20rem'}"
    >
        <a class="cursor-pointer" (click)="routeToForgetPassword()">Forget Password?</a>
    </div>

</main>

<!-- <p>Form Status: {{ loginForm.status }}</p>
<p>{{ loginForm.value | json}}</p> -->