<p-card [header]="tableTitle">
    <p-table [value]="tableData" [tableStyle]="{ 'width': 'fit-content' }" styleClass="p-datatable-sm">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="date" style="width:15%">Date</th>
                <th pSortableColumn="vendor" style="width:20%">Vendor</th>
                <th pSortableColumn="note" style="width:40%">Note</th>
                <th pSortableColumn="amount" style="width:20%">Amount</th>
                <th style="width:5%">Edit</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-category>
            <tr>
                <td style="width:15%">{{ category.date | date:'M/d/yy' }}</td>
                <td style="width:20%">{{ category.vendor }}</td>
                <td style="width:40%">{{ category.note }}</td>
                <td style="width:20%">{{ category.amount | currency }}</td>
                <td style="width:5%">
                    <div 
                        class="text-center flex flex-row justify-content-center align-items-center border-circle"
                        (click)="editTransactionRecord(category)"
                    >
                        <div>
                            <i class="pi pi-file-edit icon-hover"></i>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>