<p-toast position="top-center"></p-toast>
<p-dialog header="Demo Testing" [modal]="true" [(visible)]="dialogVisible" [style]="{width: '50vw'}">
    <p>
        This application is user input intensive. To get the experience of a lively, active user environment and interact freely, use the following login username and password:
    </p>
    <p>
        username: demo
        <br>
        password: demo
    </p>
    <p>

    </p>
</p-dialog>

<main
class="w-full bg-white flex flex-column justify-content-center align-items-center fadein animation-duration-300"
[ngStyle]="{'min-height': '5rem', 'padding': '8rem 0rem 20rem 0rem'}"
>
    <form action="" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <h2 class="m-4 text-gray-800 text-start">Register</h2>

        <div class="m-4">
            <span class="p-float-label">
                <input 
                    pInputText
                    id="email"
                    formControlName="email"
                    [style]="{'width':'20rem'}"
                    [autofocus]="true"
                />
            <label htmlFor="email">Email</label>
            </span>
        </div>

        <div class="m-4">
            <span class="p-float-label">
                <input 
                    pInputText
                    id="username"
                    formControlName="username"
                    [style]="{'width':'20rem'}"
                />
            <label htmlFor="username">Username</label>
            </span>
        </div>

        <div class="m-4">
            <span class="p-float-label">
                <input 
                    pInputText
                    id="password"
                    type="password"
                    formControlName="password"
                    [style]="{'width':'20rem'}"
                />
            <label htmlFor="password">Password</label>
            </span>
        </div>

        <div class="mx-4 my-1 text-right">
            <button 
                pButton
                pRipple
                type="reset"
                (click)="clearForm()"
                class="px-4 mr-2"
            >Clear</button>
            <button 
                class="ml-4"
                pButton
                pRipple
                type="submit"
                [disabled]="!registerForm.valid"
                class="px-4"
            >Submit</button>
        </div>
    </form>

    <div class="mt-6 text-center"
    [style]="{'width':'20rem'}"
    >
        <a class="cursor-pointer" (click)="showDialog()">
            <i class="mr-2 point-right pi pi-forward" style="font-size: 1.25rem ; color: #9ce0c1"></i>   
                Would you like to test a demo?
            <i class="ml-2 pi point-left pi-spin pi-backward" style="font-size: 1.25rem ; color: #9ce0c1"></i>
        </a>
    </div>
</main>

<!-- <p>Form Status: {{ registerForm.status }}</p>
<p>{{ registerForm.value | json}}</p> -->
