<main class="w-screen flex flex-column flex-no justify-content-start align-items-center pt-8"
[ngStyle]="{'max-width': '140rem', 'background': 'linear-gradient(165deg, mintcream, #9ce0c115, white)'}"
>
    <div>
        <app-month-net-cash-flow-banner></app-month-net-cash-flow-banner>
    </div>
    <div class="w-screen flex flex-row flex-wrap justify-content-evenly align-items-start pt-4">
        <section class="my-6">
            <app-new-invest-transaction></app-new-invest-transaction>
        </section>
         <section class="my-6">
             <app-invest-table tableTitle="Cash Invested" [tableData]="activeMonthInvestments"></app-invest-table>
         </section>
    </div>
    
</main>