<nav class="h-6rem bg-white cursor-pointer flex flex-row justify-content-between align-items-center">
    <div class="text-3xl font-bold gradient-logo-text" (click)="navigateHome()">
       CASHAMOLE
    </div>
    <div class="text-right text-lg">
        <ul>
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/how-to" routerLinkActive="active">How-to</a></li>
            <li><a routerLink="/donate" routerLinkActive="active">Donate</a></li>

            @if (!loggedInUserVal) {
                <li><a routerLink="register" routerLinkActive="active">Register</a></li>
            }
            @if (!loggedInUserVal) {
                <li><a routerLink="login" routerLinkActive="active">Login</a></li>
            }
            @if (loggedInUserVal) {
                <li class="surface-100 p-3 text-bluegray-500 font-bold text-xl">{{ loggedInUserVal | titlecase }}</li>
            }
            @if (loggedInUserVal) {
                <li><a (click)="logoutUser()">Logout</a></li>
            }
        </ul>
    </div>

</nav>