<nav>
    <ul>
        <li><a routerLink="/" routerLinkActive="active">((-O-))</a></li>
        <li><a routerLink="login" routerLinkActive="active">Login</a></li>
        <li><a routerLink="register" routerLinkActive="active">Register</a></li>
        <li><a routerLink="/password-reset" routerLinkActive="active">Password Reset</a></li>
        <li><a routerLink="/donate" routerLinkActive="active">Donate</a></li>
        <li><a routerLink="/how-to" routerLinkActive="active">How-to</a></li>
        <li><a routerLink="/new-transaction" routerLinkActive="active">New Trans</a></li>
        <li><a routerLink="/new-bs-record" routerLinkActive="active">New BS</a></li>
        <li><a (click)="logoutUser()">Logout</a></li>
        <!-- <li><a routerLink="/new-chip" routerLinkActive="active">How-to</a></li> -->
    </ul>
</nav>