<main class="flex flex-column flex-nowrap justify-content-center align-items-center pt-8"
[ngStyle]="{'background': 'linear-gradient(165deg, white, white, white, mintcream, #9ce0c115, white)'}"
>
<span class="fadein animation-duration-300">
    <div>
        <app-month-net-worth-summary></app-month-net-worth-summary>
    </div>
    <div class="w-full flex flex-row flex-wrap justify-content-evenly align-items-start pt-4 my-3">
        <section class="my-3">
            <app-new-bs-record></app-new-bs-record>
        </section>
         <section class="my-3">
            <app-balance-sheet-table></app-balance-sheet-table>
         </section>
    </div>
</span>  
</main>