<h2><span class="splash-gradient">Engaged</span> personal finance tracking</h2>
<p>Make it a habit, when you spend money. be mindful and conscious. Enter the expense, see the affect, feel the pain.</p>

<h2><span class="splash-gradient">Cash-flow</span> centered</h2>
<p>No need to confuse and over-complicate everything with delayd payments from credit card due dates. Treat all expenses as if you spent cash. If you buy something with a credit card, the charge affects your monthly cash flow. Pay your credit card full balance every month, never get charged interest, and always collect cash back rewards.</p>

<h2></h2>

<h2>Buy something, enter the transaction</h2>

<h2>Every 1st of the month, enter a <span class="splash-gradient">snapshot</span> of account balances</h2>

<h2>thats it</h2>

<h2>Automate fullpayment of credit card balances every month, simplify finance and watch your net assets grow by maintaining a positive cash flow each month. </h2>

