<nav class="h-6rem bg-white cursor-pointer flex flex-row justify-content-between align-items-center border-100 border-solid border-bottom-3 border-left-0 borer-right-0 border-top-0">
    <div (click)="navigateHome()" class="flex flex-row flex-nowrap justify-content-between align-items-center">
        <div>
            <img src="./assets/img/cashamole-icon.png" alt="" [ngStyle]="{'height': '2.75rem'}">
        </div>
       
        <div
        class="text-3xl font-bold gradient-logo-text"
        [ngStyle]="{'transform': 'translate(0.25rem, 0.0rem)'}"
        [ngClass]="isMobileView ? 'logo-out-view' : 'logo-in-view' "
        >
            ASHAMOLE
        </div>
    </div>

    <div>
        @if (loggedInUserVal &&isMobileView) {
            <div class="h-1rem flex flex-row flex-nowrap justify-content-center align-items-center pb-1"
                [ngStyle]="{'transform': 'translate(0rem, 0rem)'}"
            >
                <div (click)="backOneMonth()">
                    <i class="pi pi-angle-left responsive-nav-text mild-text-shadow" [ngStyle]="{'font-size': '2.5rem', 'color': '#a2fcd4','transform': 'translate(1rem, 0.1rem)' }"></i>
                </div>
                <div>
                    <p-calendar 
                        [(ngModel)]="monthDate"
                        view="month"
                        dateFormat="M yy"
                        [readonlyInput]="true"
                        inputId="monthpicker"
                        (onSelect)="updateActiveMonthRange($event)"
                        class=""
                    ></p-calendar>
                </div>
                <div class="" (click)="forwardOneMonth()">
                    <i class="pi pi-angle-right responsive-nav-text mild-text-shadow" [ngStyle]="{'font-size': '2.5rem', 'color': '#a2fcd4','transform': 'translate(-1rem, 0.1rem)'}"></i>
                </div>
            </div>
        }
    </div>

    <div class="text-right responsive-nav-text">
        <ul>
            @if (loggedInUserVal && !isMobileView) {
                <li>
                    <div class="h-1rem flex flex-row flex-nowrap justify-content-center align-items-center pb-1"
                        [ngStyle]="{'transform': 'translate(0rem, 0.5rem)'}"
                    >
                        <div (click)="backOneMonth()">
                            <i class="pi pi-angle-left responsive-nav-text mild-text-shadow" [ngStyle]="{'font-size': '2.5rem', 'color': '#a2fcd4','transform': 'translate(1rem, 0.1rem)' }"></i>
                        </div>
                        <div>
                            <p-calendar 
                                [(ngModel)]="monthDate"
                                view="month"
                                dateFormat="M yy"
                                [readonlyInput]="true"
                                inputId="monthpicker"
                                (onSelect)="updateActiveMonthRange($event)"
                                class=""
                            ></p-calendar>
                        </div>
                        <div class="" (click)="forwardOneMonth()">
                            <i class="pi pi-angle-right responsive-nav-text mild-text-shadow" [ngStyle]="{'font-size': '2.5rem', 'color': '#a2fcd4','transform': 'translate(-1rem, 0.1rem)'}"></i>
                        </div>
    
                    </div>
                </li>
            }
            <!-- <li><a routerLink="/home" routerLinkActive="active">Home</a></li> -->
            @if (loggedInUserVal && !isMobileView) {
                <li routerLinkActive="active"><a routerLink="expense" routerLinkActive="active">Expense</a></li>
            }
            @if (loggedInUserVal && !isMobileView) {
                <li routerLinkActive="active"><a routerLink="income" routerLinkActive="active">Income</a></li>
            }
            @if (loggedInUserVal && !isMobileView) {
                <li routerLinkActive="active"><a routerLink="invest" routerLinkActive="active">Invest</a></li>
            }
            @if (loggedInUserVal && !isMobileView) {
                <li routerLinkActive="active"><a routerLink="balance-sheeet" routerLinkActive="active">Balance Sheet</a></li>
            }
            <!-- <li><a routerLink="/how-to" routerLinkActive="active">How-to</a></li>
            <li><a routerLink="/donate" routerLinkActive="active">Donate</a></li> -->

            @if (!loggedInUserVal && !isMobileView) {
                <li routerLinkActive="active"><a routerLink="register" routerLinkActive="active">Register</a></li>
            }
            @if (!loggedInUserVal && !isMobileView) {
                <li routerLinkActive="active"><a (click)="logoutUser(false)" routerLink="login" routerLinkActive="active">Login</a></li>
            }
            <!-- @if (loggedInUserVal && !isMobileView) {
                <li routerLinkActive="active"><a (click)="logoutUser(true)">Logout</a></li>
            } -->
            @if (loggedInUserVal && !isMobileView) {
                <p-menu #menu [model]="items" [popup]="true"></p-menu>
                <li class="cashamole-green font-light text-sm text-center user-icon-hover"
                    [ngStyle]="{'transform': 'translate(0rem, 0.25rem)'}"
                    (click)="menu.toggle($event)"
                >
                    <div>
                        <i class="pi pi-user" style="font-size: 1rem"></i>     
                    </div>
                    <div class="font-base">
                        {{ loggedInUserVal | titlecase }}
                    </div>
                </li>
            }
            @if (isMobileView) {
                <li class="cursor-pointer mobile-hamburger-hover" (click)="visibleSidebar = true" ><i class="pi pi-align-justify text-3xl"></i></li>
            }
        </ul>
    </div>

</nav>

<p-sidebar #sidebarRef  [visible]="visibleSidebar" position="right" (onHide)="sidebarClose()">
    <div class="flex flex-nowrap flex-column justify-content-start align-items-center">
        <div class="text-center text-2xl flex flex-nowrap flex-column justify-content-start align-items-start"
            [ngStyle]="{'width': '80%'}"
        >
            <div class="text-600 text-3xl font-bold">Navigation</div>
            <p-divider [ngStyle]="{'width': '100%'}"></p-divider>
            @if (loggedInUserVal && isMobileView) {
                <div class="ml-3"><a routerLink="expense" routerLinkActive="active" (click)="closeCallback($event)">Expense</a></div>
            }
            @if (loggedInUserVal && isMobileView) {
                <div class="mt-3 ml-3"><a routerLink="income" routerLinkActive="active" (click)="closeCallback($event)">Income</a></div>
            }
            @if (loggedInUserVal && isMobileView) {
                <div class="mt-3 ml-3"><a routerLink="invest" routerLinkActive="active" (click)="closeCallback($event)">Invest</a></div>
            }
            @if (loggedInUserVal && isMobileView) {
                <div class="mt-3 ml-3"><a routerLink="balance-sheeet" routerLinkActive="active" (click)="closeCallback($event)">Balance Sheet</a></div>
            }
            <!-- <div><a routerLink="/how-to" routerLinkActive="active">How-to</a></div>
            <div><a routerLink="/donate" routerLinkActive="active">Donate</a></div> -->
    
            @if (!loggedInUserVal && isMobileView) {
                <div class="mt-3 ml-3"><a routerLink="register" routerLinkActive="active" (click)="closeCallback($event)">Register</a></div>
            }
            @if (!loggedInUserVal && isMobileView) {
                <div class="mt-3 ml-3"><a (click)="logoutUser(false)" routerLink="login" routerLinkActive="active" (click)="closeCallback($event)">Login</a></div>
            }
            @if (loggedInUserVal && isMobileView) {
                <p-divider [ngStyle]="{'width': '100%'}"></p-divider>
            }
            @if (loggedInUserVal && isMobileView) {
                <span class="font-base text-base cashamole-green">
                    <i class="pi pi-user" style="font-size: 1.25rem"></i> &nbsp;  {{ loggedInUserVal | titlecase }}
                </span>
            }
            @if (loggedInUserVal && isMobileView) {
                <p-divider [ngStyle]="{'width': '100%'}"></p-divider>
            }
            @if (loggedInUserVal && isMobileView) {
                <div class="mt-1 cursor-pointer ml-3"><a (click)="userSettingsAlert(); closeCallback($event)">User Settings</a></div>
            }
            @if (loggedInUserVal && isMobileView) {
                <div class="mt-3 cursor-pointer ml-3"><a (click)="logoutUser(true); closeCallback($event)">Logout</a></div>
            }
            <!-- @if (loggedInUserVal && isMobileView) {
                <div class="cashamole-green font-light text-3xl mt-3 cursor-default">{{ loggedInUserVal | titlecase }}</div>
            } -->
        </div>
    </div>

</p-sidebar>