<!-- <p-card [header]="tableTitle"
pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" animation-duration-1000
> -->
<p-table [value]="tableData" dataKey="inv_id" editMode="row" [tableStyle]="{ 'width': 'fit-content' }" styleClass="p-datatable-sm">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="date" [style]="{'width': '7rem'}">Date</th>
            <th pSortableColumn="institution" [style]="{'width': '7rem'}">Institution</th>
            <!-- <th pSortableColumn="note" [style]="{'width': '7rem'}">Note</th> -->
            <th pSortableColumn="amount" [style]="{'width': '5rem'}">Amount</th>
            <th [style]="{'width': '6rem'}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Edit</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-category let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="category">
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <span class="p-float-label">
                            <p-calendar
                                id="date"
                                [showIcon]="true"
                                [(ngModel)]="category.date"
                                [style]="{'width':'7rem'}"
                                appendTo="body"
                                dateFormat="mm/dd/y"
                            >
                            </p-calendar>
                            <label htmlFor="date">Date</label>
                        </span>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ category.date | date:'M/d/yy' }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <span class="p-float-label">
                            <input 
                                pInputText
                                id="institution"
                                [(ngModel)]="category.institution"
                                [style]="{'width':'7rem'}"
                            />
                        <label htmlFor="institution">Institution</label>
                        </span>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ category.institution }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <!-- <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <span class="p-float-label">
                            <input 
                                pInputText
                                id="note"
                                [(ngModel)]="category.note"
                                [style]="{'width':'7rem'}"
                            />
                        <label htmlFor="note">Note</label>
                        </span>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ category.note }}
                    </ng-template>
                </p-cellEditor>
            </td> -->
            <td>
                <p-cellEditor class="">
                    <ng-template pTemplate="input">
                        <span class="p-float-label">
                            <p-inputNumber 
                                id="amount"
                                [(ngModel)]="category.amount"
                                inputId="minmaxfraction"
                                mode="decimal"
                                [minFractionDigits]="2"
                                [maxFractionDigits]="2"
                                [style]="{'width':'5rem'}"
                            > </p-inputNumber>
                            <label htmlFor="amount">$ Amount</label>
                        </span>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ category.amount | currency }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <div class="flex flex-row flex-nowrap justify-content-center"
                [ngStyle]="{'width':'6rem'}"
                >
                    @if (!editing) {
                        <div class="">
                            <button 
                                pButton
                                pRipple
                                type="button"
                                pInitEditableRow
                                icon="pi pi-pencil"
                                (click)="onRowEditInit(category)"
                                class="p-button-rounded p-button-text"
                                pTooltip="Edit Record"
                                tooltipPosition="top"
                            ></button>
                        </div>
                    }
                    @if (editing) {
                        <div>
                            <button
                                pButton
                                pRipple
                                type="button"
                                pSaveEditableRow
                                icon="pi pi-check"
                                (click)="onRowEditSave(category)"
                                class="p-button-rounded p-button-text p-button-success w-2rem"
                                pTooltip="Save Edit"
                                tooltipPosition="top"
                            ></button>
                        </div>
                    }
                    @if (editing) {
                        <div>
                            <button
                                pButton
                                pRipple
                                type="button"
                                pCancelEditableRow
                                icon="pi pi-times"
                                (click)="onRowEditCancel(category, ri)"
                                class="p-button-rounded p-button-text w-2rem cancel-icon-color"
                                pTooltip="Cancel Edit"
                                tooltipPosition="top"
                            ></button>
                        </div>
                    }
                    @if (editing) {
                        <div>
                            <button
                                pButton
                                pRipple
                                type="button"
                                pCancelEditableRow
                                icon="pi pi-trash"
                                (click)="removeEntry(category, ri)"
                                class="p-button-rounded p-button-text p-button-danger w-2rem"
                                pTooltip="Delete Record"
                                tooltipPosition="top"
                            ></button>
                        </div>
                    }
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>